@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mynerve&display=swap");

body {
  background-color: #3d3d3d;
  color: #60516b;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 21px;
  margin: 0;
  padding: 0;
}

#content {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #585858;
  box-shadow: 0 0 50px #000000;
}

/* Header styles */
header {
  background-color: #b7c277;
  text-align: center;
  font-family: "Mynerve", cursive, sans-serif;
  font-size: 30px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 250px auto 900px;
  grid-template-rows: 120px;
}

.logo-shell {
  grid-column: 1;
  grid-row: 1;
  padding-top: 110px;
  padding-left: 50px;
  justify-self: center;
  align-self: center;
  z-index: 1;
}

#header-logo-link {
  grid-column: 1;
  grid-row: 1;
  padding-top: 110px;
  padding-left: 50px;
  justify-self: center;
  align-self: center;
  z-index: 1;
}

nav {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: #60516b;
  text-decoration: none;
  padding: 40px 20px 10px 20px;
}

nav a:hover {
  background-color: #eadc8c;
}

/* Hero styles */
.hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#hero-parallax {
  min-height: 1080px;
  grid-column: 1/5;
  grid-row: 1/3;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto auto;
  box-shadow: 0 0 30px #202020 inset;
}

#hero-title {
  grid-column: 1/4;
  grid-row: 1;
  text-align: center;
  font-family: "Mynerve", cursive, sans-serif;
  color: #60516b;
  /* text-shadow: 0 0 2px #dcb17a; */
  font-size: 2em;
}

#hero-title h4 {
  margin: 0 auto;
  margin-top: 80px;
  padding-top: 20px;
  width: 800px;
  background-color: rgb(220, 177, 122, 0.7);
}

#hero-title h1 {
  margin: 0 auto;
  padding-bottom: 10px;
  width: 800px;
  background-color: rgb(220, 177, 122, 0.7);
}

#ribbon-content {
  width: fit-content;
  align-self: end;
  grid-column: 1/3;
  grid-row: 2;
  background-color: rgb(39, 39, 39, 0.9);
  color: #e2e2e2;
  font-size: 1.3em;
  padding: 8px 16px;
  margin-bottom: 150px;
}

/* Main styles */
main {
  max-width: 1600px;
  padding: 40px 0 50px;
  border-left: 6px solid #60516b;
  border-right: 6px solid #60516b;
  margin: 0 auto;
  background-color: #e2e2e2;
  box-shadow: 0 0 30px #202020;
  text-align: justify;
}

main p {
  margin: 0 30px 30px 30px;
}

.link-box {
  background-color: #dcb17a;
  text-align: center;
  /* max-width: 700px;
  min-height: 239px; */
  margin: 50px;
}

.link-box p {
  margin: 30px;
}

.button-box {
  text-align: center;
  margin: 50px;
}

.button {
  background-color: #60516b;
  color: #eadc8c;
  text-decoration: none;
  font-family: "Mynerve", cursive, sans-serif;
  font-size: 26px;
  font-weight: 600;
  padding: 15px 30px;
  margin-top: 50px;
}

.button:hover {
  background-color: #eadc8c;
  color: #60516b;
}

/* Footer styles */
footer {
  background-color: #b7c277;
  color: #60516b;
  font-size: 1.2em;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo-and-copyright {
  display: flex;
  align-items: center;
}

footer .logo {
  width: 150px;
}

footer a {
  color: #60516b;
  text-decoration: none;
}

footer p a:hover {
  color: #fce172;
  text-decoration: underline;
}

.social img {
  padding-top: 15px;
}

/* Home page styles */
.home-grid {
  display: grid;
  grid-template-columns: 400px 1fr;
}

#main-img {
  grid-column: 2;
  width: 90%;
  margin: 0 20px 20px 20px;
  border: 10px solid #dcb17a;
}

.home-link-box-wrapper {
  display: grid;
  grid-template-columns: minmax(400px, 800px) minmax(400px, 800px);
  /* grid-template-columns: repeat(:nth-child(minmax(400px, 800px))); */
}

/* Habitat page styles */
#banner-img {
  text-align: center;
  background-color: #60516b;
  padding: 50px;
  margin-bottom: 30px;
  line-height: 0;
}

#banner-img img {
  border: 5px solid #dcb17a;
  /* height: 600px; */
}

.habitat-grid {
  display: grid;
  grid-template-columns: 1fr 800px;
}

#ribbon {
  grid-area: 1/1;
  background-color: #b7c277;
  width: 100%;
  height: 60%;
  margin: auto;
}

#img-on-ribbon {
  grid-area: 1/1;
  width: 50%;
  border: 10px solid #60516b;
  margin: 0 40px 20px 20px;
  justify-self: right;
}

.habitat-link-box-wrapper {
  display: grid;
  grid-template-columns: minmax(400px, 800px);
  justify-content: center;
}

/* Helping page styles */

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-width: 1366px) {
  #hero-parallax {
    background-attachment: scroll;
  }
}
